.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  max-width: 420px;
  height: 16px;
  font-weight: 500;
  line-height: 1;
  color: #212121b2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  margin-top: auto;
  width: 107.34px;
  height: 16px;
  border: none;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 8px;
  opacity: 0.4;
  padding: 0;
  border: none;
  transition: opacity 0.7s ease-in-out;
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__add-btn {
  margin-left: auto;
  width: 149px;
  height: 52px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  gap: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  background: #212121;
  color: #fcf5e5;
  margin-top: 138px;
  margin-right: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: opacity 0.4s ease-in-out;
  border: 0;
}

.profile__add-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__add-btn {
    margin: 0;
    width: 288px;
    justify-content: center;
  }

  .profile__column {
    align-items: center;
    text-align: center;
    margin: 0 0 20px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }
}
